.menu-mobile {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background-color: #b45309;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  gap: 1rem;
  z-index: 50;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.2s ease, transform 0.2s ease;
  display: flex;
}

.menu-mobile.show {
  opacity: 1;
  transform: scale(1);
}